{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="post-content-section">
   <div class="container-fluid">

      <div class="row m-5">
         {# Main content #}
         <div class="col-lg-9 col-md-9 col-sm-12 pr-5">
            <div class="row ">
               <div class="col-12 text-center my-5 pb-2 title">
                  <h1>Derniéres actualités</h1>
               </div>
            </div>

            {# Article #}
            <div class="row">
               <h5>Loches : commémoration de la rafle du 27 juillet 1944 sur fond de discorde</h5>
            </div>
            <div class="row ">
               <p class="text-muted"><i class="far fa-calendar-alt"></i>&nbsp;&nbsp;28 juillet 2021</p>
            </div>
            <div class="row mb-5 text">


               <div class="col-lg-3 col-md-12 text-center">
                  <img src="{{ asset('img/1.jpg') }}" class="img-fluid img-thumbnail mb-3" alt="" width="300">
               </div>
               <div class="col-lg-9 col-md-12 text-justify ">


                  <p class="post">Ce mardi 27 juillet 2021 , l'ADIRP du Lochois a convié les associations patriotiques
                     et les familles des victimes, à commémorer la rafle du 27 juillet 1944. L'école Alfred de Vigny
                     ayant fait place à un projet immobilier la cérémonie s'est déroulée à la stèle du Lac (Loches
                     Athlétic Club) au stade Leclerc. Les représentants de la majorité municipale , ne se sont pas
                     déplacés, ne souhaitant pas participer à cette cérémonie, qu'ils trouvent le maire en tête,
                     "politique". </p>
               </div>
            </div>
            {# / Article #}
            <div class="row">
               <h5>27 juillet 1944 : jeudi noir dans le Lochois</h5>
            </div>
            <div class="row">
               <p class="text-muted"><i class="far fa-calendar-alt"></i>&nbsp;&nbsp;27 juillet 2021</p>
            </div>
            <div class="row  text">


               <div class="col-lg-3 col-md-12 text-center">
                  <img src="{{ asset('img/2.jpg') }}" class="img-fluid img-thumbnail mb-3" alt="" width="300">
               </div>
               <div class="col-lg-9 col-md-12 text-justify ">


                  <p class="post">Auteur de quatre ouvrages sur la Seconde Guerre mondiale à Loches et sa région,
                     Bernard Briais est un éminent spécialiste de cette période sombre de l’histoire locale</p>
               </div>

            </div>
            <div class="row">
               <div class="col-12 text-center mb-5 pt-4"> <a href="#" class="btn text-white btn-block">Voir plus
                     d'actualité</a></div>
            </div>

            <div class="row">
               <div class="col-12 text-center my-5 pb-2 title">
                  <h1>Evènements à venir</h1>
               </div>
            </div>
            {# Events#}
            <div class="row text-center">

               <div class="col-xl-4 col-md-6 col-sm-12 p-2">
                  <div class="card ">
                     <h5 class="card-title">Nom d'èvènement</h5>
                     <div class="card-body text-justify ">
                        <p><i class="fas fa-map-marker-alt"></i> &nbsp;&nbsp;Lieu</p>
                        <p class="text-muted"><i class="far fa-calendar-alt"></i>&nbsp;&nbsp; 01.01.2021</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                           been
                           the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                           galley
                           of type and scrambled it to make a type specimen book</p>
                     </div>
                  </div>
               </div>

               <div class="col-xl-4 col-md-6 col-sm-12 p-2">
                  <div class="card ">
                     <h5 class="card-title">Nom d'èvènement</h5>
                     <div class="card-body text-justify ">
                        <p><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp; Lieu</p>
                        <p class="text-muted"><i class="far fa-calendar-alt"></i>&nbsp;&nbsp; 01.01.2021</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                           been
                           the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                           galley
                           of type and scrambled it to make a type specimen book</p>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-md-6 col-sm-12 p-2">
                  <div class="card ">
                     <h5 class="card-title ">Nom d'èvènement</h5>
                     <div class="card-body text-justify ">
                        <p><i class="fas fa-map-marker-alt"></i> &nbsp;&nbsp;Lieu</p>
                        <p class="text-muted"><i class="far fa-calendar-alt"></i>&nbsp;&nbsp;01.01.2021</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                           been
                           the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                           galley
                           of type and scrambled it to make a type specimen book</p>
                     </div>
                  </div>
               </div>



            </div>
         </div>
         {# /content #}
         {# Sidebar #}
         <div class="col-lg-3  col-md-3 col-sm-12 sidebar pl-5 ">

            <div class="adhesion py-5 text-justify ">

               <h5 class="text-center text-uppercase">Adhérez à FNDIRP </h5>
               <p class="card-text pt-2">With supporting text below as a natural lead-in to additional content.</p>
               <a href="#" class="btn text-white btn-block">J'adhère</a>

            </div>
            <div class="editions text-center">
               <h5 class="text-uppercase pb-2 ">Patriote Résistante: dernières éditions </h5>
               <img src="{{ asset('img/06.jpg') }}" class="img-fluid img-thumbnail mb-3" alt="" width="300">
               <p>Juin 2021</p>
               <img src="{{ asset('img/05.jpg') }}" class="img-fluid img-thumbnail mb-3" alt="" width="300">
               <p>Mai 2021</p>
               <img src="{{ asset('img/04.jpg') }}" class="img-fluid img-thumbnail mb-3" alt="" width="300">
               <p>Avril 2021</p>
            </div>
            <div class="abonnement py-5 text-justify ">
               <h5 class="text-center text-uppercase ">Patriote Résistante: abonnement</h5>
               <p class="card-text pt-2">Abonnez-vous ou abonnez vos amis, vos camarades et leurs familles. Abonnez
                  également les collèges, lycées, bibliothéques, centres de documentation, maisons de jeunes, comités
                  d'enterprise...</p>
               <a href="#" class="btn text-white btn-block">Abonnez-vous</a>
            </div>
         </div>

         {# / sidebar #}
      </div>
   </div> <!-- /container -->
</section>

{% endblock %}